<div id="acomodationItem" class="modal fade" role="dialog" >
	<div class="modal-dialog" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Acomodation details</h4>
		</div>
        <div class="modal-body">

            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" data-bind="value: Name" />

            <label for="Picture">Picture</label>
            <img src="" width="90" height="90"  align="right" data-bind="value:Picture" />

            <label for="AcomodationType">Type</label>
            <input id="AcomodationType" type="text" class="form-control" data-bind="value: AcomodationType" />

            <label for="NumberOfStars">Number of stars</label>
            <input id="NumberOfStars" type="text" class="form-control" data-bind="value: NumberOfStars" />

			<label for="Address">Address</label>
			<input id="Address" type="text" class="form-control" data-bind="value: Address" />

			<label for="Description">Description</label>
			<input id="Description" type="text" class="form-control" data-bind="value: Description" />

			<label for="PhoneNumber">Phone number</label>
			<input id="PhoneNumber" type="text" class="form-control" data-bind="value: PhoneNumber" />

			<label for="WebSite">Web site</label>
			<input id="WebSite" type="text" class="form-control" data-bind="value: WebSite" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>


</div>