
<div id="addAcomodation">
    <h3 style="color:white">Add a new accomodation</h3>
    <br />
    <div id="countries">
        <label style="color:white">Country*</label>
        <select style="color:black" data-bind="options: Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...', event:{ change: getCities} " class="form-control"></select>
       
    </div>
        <br />
    <div id="cities" style="display:normal!important">
        <label style="color:white">City*</label>
        <select style="color:black" data-bind="options: Cities, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...'" class="form-control"></select>
        </div>
        <br />
        <h3 style="color:white">Accomodation details</h3>
        <br />

        <label style="color:white">Type*</label>

        
        @*<select style="color:black" id="Type" data-bind="value: AcomodationType" class="form-control">
            <option>Choose...</option>
            <option value="Hotel">Hotel</option>
            <option value="Pension">Pension</option>
            <option value="Hut">Hut</option>
            <option value="Motel">Motel</option>
        </select>*@
        <br />

        <label style="color:white">Address*</label>
        <input id="Address" type="text" data-bind="value:Address" size="25" style="color:black" class="form-control" />
        <br />

        <label style="color:white">Name*</label>
        <input id="Name" type="text" data-bind="value:Name" size="27" style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Nr. of stars*</label>
        <input id="NumberOfStars" type="text" data-bind="value:NumberOfStars" size="22" style="color:black" class="form-control" />
        <br />

        <label style="color:white">Description*</label>
        <input id="Description" type="text" data-bind="value:Description" size="21" style="color:black" class="form-control" />
        <br />

        <label style="color:white">Phone number*</label>
        <input id="PhoneNumber" type="text" data-bind="value:PhoneNumber" size="19" style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Web site*</label>
        <input id="WebSite" type="text" data-bind="value:WebSite" size="24" style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Latitude</label>
        <input id="Lat" type="text" data-bind="value:Lat" size="25" style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Longitude</label>
        <input id="Long" type="text" data-bind="value:Long" size="24" style="color:black" class="form-control" />
        <br />

        <form id="AcomodationPhoto" method="post" enctype="multipart/form-data" data-bind="value:AccomodationPhoto">
            <label style="color:white">Accomodation photo</label>
            <INPUT type=file id=File1 name=File1 />
            <br>

        </form>
        <br />
        <br />
    <button id="btnAdd" type="button" class="btn btn-default" style="color:black;background:lightpink" data-bind="click:addAccomodation">Add accomodation</button>

</div>
@*<h1 class="alert-info" style="text-align:center;">Get ready to meet your guests</h1>*@

<script>
	function onButton() {
		if ((City.value == "") || (Address.value == "") || (Name.value == "") || (NumberOfStars.value = "") || (Description.value = "") ||
			(PhoneNumber.value == "") || (WebSite.value == "") || (Price.value == "") || (NumerOfChildren == "") || (NumberOfAdults == "") ||
			(NumerOfRoomsAvailabe == "")) {
			alert('Please complete all required fields');
		}

	}

	$(function () {
	    var vm = new Accomodation();
	    vm.refresh();
	    ko.applyBindings(vm, $("#countries").get(0));
	    ko.applyBindings(vm, $("#cities").get(0));
	    //ko.applyBindings(vm, $("#acomodations").get(0));
	    //ko.applyBindings(vm, $("#rooms").get(0));
	    //ko.applyBindings(vm, $("#facilities").get(0));
	    //ko.applyBindings(vm, $("#reviews").get(0));

	});
</script>
