
<div id="countries">
    <h3 style="color:white">Add a new accomodation</h3>
    <br />
    <div>
        <label style="color:white">Country*</label>
        <select style="color:black" data-bind="options: Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...', event:{ change: getCities} " class="form-control"></select>
       
    </div>
        <br />
    <div id="cities" style="display:normal!important">
        <label style="color:white">City*</label>
        <select style="color:black" data-bind="options: Cities, optionsText: 'Name', optionsValue: 'Id', value: CityId, optionsCaption: 'Choose ...'" class="form-control"></select>
        <div data-bind="visible: CityId">
            <span data-bind="text: CityId() ? CityId().Id : 'unknown'"></span>
        </div>
        </div>

        <br />
        <h3 style="color:white">Accommodation details</h3>
        <br />

        <label style="color:white">Type*</label>
        @Html.DropDownList("AcomodationType", EnumHelper.GetSelectList(typeof(DataLayer.AcomodationType)),"Choose...",new { @class = "form-control" })
        <br />

        <label style="color:white">Address*</label>
        <input id="Address" type="text" data-bind="value:Address"  style="color:black" class="form-control" />
        <br />

        <label style="color:white">Name*</label>
        <input id="Name" type="text" data-bind="value:Name"  style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Nr. of stars*</label>
        <input id="NumberOfStars" type="text" data-bind="value:NumberOfStars"  style="color:black" class="form-control" />
        <br />

        <label style="color:white">Description*</label>
        <input id="Description" type="text" data-bind="value:Description"  style="color:black" class="form-control" />
        <br />

        <label style="color:white">Phone number*</label>
        <input id="PhoneNumber" type="text" data-bind="value:PhoneNumber"  style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Web site*</label>
        <input id="WebSite" type="text" data-bind="value:WebSite"  style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Latitude</label>
        <input id="Lat" type="text" data-bind="value:Lat"  style="color:black" class="form-control"/>
        <br />

        <label style="color:white">Longitude</label>
        <input id="Lng" type="text" data-bind="value:Lng"  style="color:black" class="form-control" />
        <br />

        <form id="AcomodationPhoto" method="post" enctype="multipart/form-data" data-bind="value:AcomodationPhoto" >
            <label style="color:white">Accomodation photo</label>
            <input type=file id=file1 name=file1 style="color:white"/>
            <br>

        </form>
        <br />

         <h3 id="succes" style="color:red;visibility:hidden">The accommodation was successfully added !</h3>
         <h3 id="error" style="color:red;visibility:hidden">Please complete all the fields</h3>
        <br />
    
    <button id="btnAddAcomodation" type="button" class="btn btn-default" style="color:black;background:lightpink" data-bind="click: addAccomodation">Add accommodation</button>

</div>

<script>


	$(function () {
	    var vm = new Accomodation();
	    vm.refresh();
	    ko.applyBindings(vm, $("#countries").get(0));
	});
</script>
