<div id="addRoom">
    <h3 style="color:white">Add a new room</h3>
    <br />
    <div id="countries">
        <label style="color:white">Country*</label>
        <select style="color:black" data-bind="options: Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...', event:{ change: getCities} " class="form-control"></select>

    </div>
    <br />
    <div id="cities" style="display:normal!important">
        <label style="color:white">City*</label>
        <select style="color:black" data-bind="options: Cities, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...',event:{ change: getAcomodations}" class="form-control"></select>
    </div>
    <br />
    <div id="acomodations" style="display:normal!important">
        <label style="color:white">Accomodation*</label>
        <select style="color:black" data-bind="options: Acomodations, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...'" class="form-control"></select>
    </div>
    <h3 style="color:white">Room details:</h3>
    <br />

    <label style="color:white">Room type*</label>
    <select style="color:black" id="RoomType" data-bind="value:RoomType" class="form-control">
        <option style="color:black">Choose...</option>
        <option value="Single">Single</option>
        <option value="Double">Double</option>
        <option value="Triple">Triple</option>
        <option value="Quad">Quad</option>
        <option value="Apartment">Apartment</option>

    </select>
    <br />

    <label style="color:white">Price*</label>
    <input id="Price" type="text" data-bind="value:Price" size="17" style="color:black" class="form-control" />
    <br />

    <label style="color:white">Nr. of children*</label>
    <input id="NumerOfChildren" type="text" data-bind="value:NumberOfChildren" size="8" style="color:black" class="form-control"/>
    <br />

    <label style="color:white">Nr. of adults*</label>
    <input id="NumberOfAdults" type="text" data-bind="value:NumberOfAdults" size="10" style="color:black" class="form-control"/>
    <br />

    <label style="color:white">Nr. of rooms available*</label>
    <input id="NumerOfRoomsAvailabe" type="text" data-bine="value:NumberOfRoomsAvailable" size="1" style="color:black" class="form-control" />
    <br />

    <label style="color:white">Latitude*</label>
    <input id="Lat" type="text" data-bind="value:Lat" size="13" style="color:black" class="form-control"/>
    <br />

    <label style="color:white">Longitude*</label>
    <input id="Long" type="text" data-bind="value:Long" size="12" style="color:black" class="form-control" />
    <br />
    <form id="RoomPhoto" method="post" enctype="multipart/form-data">
        <label style="color:white">Room photo*</label>
        <INPUT type=file id=File1 name=File1 data-bind="value: RoomPhoto" />
        <br>

    </form>
    <br />
    <br />

    <label style="color:white">* All the fields are required</label>
    <br />
    <br />

    <button id="btnAdd" type="button" class="btn btn-default" style="color:black;background:lightpink" data-bind="click:addRoom">Add room</button>
</div>

<script>
	function onButton() {
		if ((City.value == "") || (Address.value == "") || (Name.value == "") || (NumberOfStars.value = "") || (Description.value = "") ||
			(PhoneNumber.value == "") || (WebSite.value == "") || (Price.value == "") || (NumerOfChildren == "") || (NumberOfAdults == "") ||
			(NumerOfRoomsAvailabe == "")) {
			alert('Please complete all required fields');
		}

	}

	$(function () {
	    var vm = new Accomodation();
	    vm.refresh();
	    ko.applyBindings(vm, $("#countries").get(0));
	    ko.applyBindings(vm, $("#cities").get(0));
	    ko.applyBindings(vm, $("#acomodations").get(0));
	    //ko.applyBindings(vm, $("#rooms").get(0));
	    //ko.applyBindings(vm, $("#facilities").get(0));
	    //ko.applyBindings(vm, $("#reviews").get(0));

	});
</script>