@{
	ViewBag.Title = "Contact";
	
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    O<br />
	33, Calea Dorobantilor, Platinia Building, Cluj-Napoca 400117<br />
    <abbr title="Phone">P:</abbr>
	0364 116 231
</address>

<address>
    <strong>Intern</strong>   <a href="mailto:oanaalexandra.brisc@tecknoworks.com">oanaalexandra.brisc@tecknoworks.com</a><br />
    <strong>Intern</strong> <a href="mailto:ioanabianca.puscasu@teckonoworks.com">ioanabianca.puscasu@teckonoworks.com</a>
</address>