@{
    ViewBag.Title = "Contact";

}
<h2 style="color:white">@ViewBag.Title.</h2>

<address style="color:white">
    Address:
    <br />
	33, Calea Dorobantilor, Platinia Building, Cluj-Napoca 400117<br />
    <br/>
    <abbr title="Phone">Phone:</abbr>
	0364 116 231
</address>

<address>
    E-mail:<br />
    <strong>Intern</strong>   <a href="mailto:oanaalexandra.brisc@tecknoworks.com">oanaalexandra.brisc@tecknoworks.com</a><br />
    <strong>Intern</strong> <a href="mailto:ioanabianca.puscasu@teckonoworks.com">ioanabianca.puscasu@teckonoworks.com</a>
</address>