<div id="countries">
    <h3 style="color:white">Add a review</h3>
    <br />
    <div>
        <label style="color:white">Country*</label>
        <select style="color:black" data-bind="options: Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...', event:{ change: getCities} " class="form-control"></select>

    </div>
    <br />
    <div id="cities" style="display:normal!important">
        <label style="color:white">City*</label>
        <select style="color:black" data-bind="options: Cities, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose ...',event:{change:getAcomodations}" class="form-control"></select>
        @*<div data-bind="visible: CityId">
            <span data-bind="text: CityId() ? CityId().Id : 'unknown'"></span>
        </div>*@
    </div>

    <br />
    <div id="acomodations">
        <label style="color:white">Accommodation*</label>
        <select style="color:black" data-bind="options: Acomodations, optionsText: 'Name', optionsValue: 'Id', value: AcomodationId, optionsCaption: 'Choose ...'" class="form-control"></select>
        <div data-bind="visible: AcomodationId">
            <span data-bind="text: AcomodationId() ? AcomodationId().Id : 'unknown'"></span>
        </div>

    </div>
    <br />
    <label style="color:white">Description*</label>
    <input id="Description" type="text" data-bind="value:Description" style="color:black" class="form-control" />
    <br />

    <h3 id="succesReview" style="color:red;visibility:hidden">The review was successfully submitted !</h3>
    <h3 id="errorReview" style="color:red;visibility:hidden">Please complete all the fields</h3>
    <br />

    <button id="btnGiveReview" type="button" class="btn btn-default" style="color:black;background:lightpink" data-bind="click: addReview">Submit</button>
   
</div>

<script>


	$(function () {
	    var vm = new Accomodation();
	    vm.refresh();
	    ko.applyBindings(vm, $("#countries").get(0));
	});
</script>
