@{
    ViewBag.Title = "Teckbook.com";
}
<div class="jumbotron">
    <h1>Teckbook</h1>
    <p class="lead">Every month 120+ million visitors use Teckbook to search & compare hotel prices, read reviews & browse photos. Find your ideal hotel deal right here.</p>
    <p><a href="https://www.booking.com/index.html?aid=376393;label=bookings-name-aBWsJiTz5zPDtvKd5x3fwgS171942957760:pl:ta:p1:p21.408.000:ac:ap1t1:neg:fi:tiaud-146342138470:kwd-65526620:lp1011806:li:dec:dm;ws=&gclid=Cj0KCQjwtpDMBRC4ARIsADhz5O5TCa7lgLubjZV2FmEu-bw4kjjkjSC5-EY_it_E1PEp9C1IFtDmaWAaAnR5EALw_wcB" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find your best price</h2>
        <p>
			Selecting the right hotel is one of the most important decisions to make when planning a vacation. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurants</h2>
        <p>After a long travel day it sure is nice to have an on-site restaurant or two at your hotel. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ambience & Decor</h2>
        <p>Fresh flowers, attractive art, and thoughtful interior design add to the vacation experience. Even if you’re on a tight budget, you want to sleep somewhere comfortable, clean and inviting.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>