<style style="text/css">
	.col-md-4 {
		width: 25%;
		border-collapse: collapse;
	}

		.col-md-4 td {
			padding: 7px;
			border: rgba(119, 41, 83, 0.74) 1px solid;
		}
		/* Define the default color for all the table rows */
		.col-md-4 tr {
			background: rgb(203, 165, 185);
		}
			/* Define the hover highlight color for the table row */
			.col-md-4 tr:hover {
				background-color: white;
			}
</style>



@{
	ViewBag.Title = "Teckbook.com";
}

<div class="jumbotron">
	<h1>Teckbook</h1>
	<p class="lead">Every month 120+ million visitors use Teckbook to search hotels, read reviews & browse photos. Find your ideal hotel deal right here.</p>
</div>





<div id="countries" class="col-md-4">
	<table class="table">
		<thead>
			<tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff;font-size:large ">
				<th>Countries</th>

			</tr>
		</thead>
		<tbody data-bind="foreach:Countries">
			<tr>
				<td class="col-xs-8" style="background-color:rgba(242, 233, 238, 0.41)" id="id1" onmouseover="onMouse(this);">
					<h4 data-bind="text: Name, click:$parent.getCities" data-target="#countryItem"> </h4>
				</td>

			</tr>
		</tbody>
	</table>
	@Html.Partial("Item")
</div>


<div id="cities" class="col-md-4" style="display:none">
	<table class="table">
		<thead>
			<tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff ;font-size:large">
				<th>Cities</th>
			</tr>
		</thead>
		<tbody data-bind="foreach:Cities">
			<tr>
				<td class="col-xs-5" style="background-color:rgba(242, 233, 238, 0.41)">
					<h4 data-bind="text: Name, click:$parent.getAcomodations" data-target="#cityItem"> </h4>
				</td>
			</tr>
		</tbody>
	</table>
	@Html.Partial("CityItem")
</div>

<div id="acomodations" class="col-md-4" style="display:none">
	<table class="table">
		<thead>
			<tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff;font-size:large ">
				<th >Acomodations</th>
                <th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach:Acomodations">
			<tr>
				<td class="col-xs-5" style="background-color:rgba(242, 233, 238, 0.41)">
					<h4 data-bind="text: Name, click:$parent.getRooms" data-target="#acomodationItem"> </h4>
				</td>

				<td  class="col-xs-1">
					<input type="button" value="Details" class="btn btn-info" data-toggle="modal" data-target="#acomodationItem" data-bind="click:$parent.details" />
				</td>
			</tr>
		</tbody>
	</table>
	@Html.Partial("AcomodationItem")
</div>

<div id="rooms" class="col-md-4" style="display:none">
	<table class="table">
		<thead>
			<tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff ;font-size:large">
				<th>Rooms</th>
                <th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach:Rooms">
			<tr>
				<td class="col-xs-5" >
                    <h4 data-bind="text:RoomType"></h4>
                </td>
				<td class="col-xs-1">
					<input type="button" value="Details" class="btn btn-info" data-toggle="modal" data-target="#roomItem" data-bind="click:$parent.details" />
				</td>
			</tr>
		</tbody>
	</table>
	@Html.Partial("RoomItem")
</div>










<script type="text/javascript">
    $(function () {
        var vm = new Countries();
        vm.refresh();
        ko.applyBindings(vm, $("#countries").get(0));
        ko.applyBindings(vm, $("#cities").get(0));
        ko.applyBindings(vm, $("#acomodations").get(0));
        ko.applyBindings(vm, $("#rooms").get(0));
    });

    function onMouse(x) {
    	x.style.border.color = "green";
    }

</script>







