<style style="text/css">
	.col-md-4 {
		width: 25%;
		border-collapse: collapse;
	}

		.col-md-4 td {
			padding: 10px;
			border: rgba(119, 41, 83, 0.74) 1px solid;
		}
		/* Define the default color for all the table rows */
		.col-md-4 tr {
			background: rgb(203, 165, 185);
		}
		/* Define the hover highlight color for the table row */
        .col-md-4 tr:hover {
			background-color: white;
		}

.progress{
		width: 600px;
		height: 300px;
		visibility: visible!important;
		display:normal;
	}
  #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }


</style>
@{
	ViewBag.Title = "Teckbook.com";
}
<div>
    <div class="active">
        <h1 style="color:#cea1b9">Teckbook</h1>
        <p class="lead" style="color:darkgray">
            Every month 120+ million visitors use Teckbook to search hotels, read reviews & browse photos. Find your ideal hotel deal right here.
            Please use the site one by one.
        </p>
        <br />
    </div>

    <div id="countries" class="col-md-4">
        <table class="table" style="width:90%">
            <thead style="margin-left:0px;margin-right:0px">
                <tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff;font-size:x-large;">
                    <th style="width:100%;height:20px">
                        Countries
                    </th>

					</tr>
				</thead>
				<tbody  data-bind="foreach:Countries">
					<tr>
						<td class="col-md-4"   style="background-color:rgba(242, 233, 238, 0.41);margin-left:0px;margin-right:0px;color:black" data-bind="click:$parent.getCities" data-target="#countryItem" >
							<h4 data-bind="text: Name, click:$parent.setMapLocation" style="font-size:large;margin-left:0px;margin-right:0px"> </h4>
						</td>
					</tr>
				</tbody>

			</table>
			<div>
				<input id="pac-input"  class="controls" type="text" placeholder="Search Box" autocomplete="on">
               
			</div>
		

        
        <br />
        <div id="map" class="progress" style="visibility:visible;align-items:center"></div>
        @Html.Partial("Item")
   </div>



		<div id="cities" class="col-md-4" style="display:none">
			<table class="table" style="width:90%">
				<thead>
					<tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff ;font-size:x-large" >
						<th>Cities</th>
					</tr>
				</thead>
				<tbody data-bind="foreach:Cities">
					<tr>
						<td  onclick="stars()"class="col-xs-5"  style="background-color:rgba(242, 233, 238, 0.41);color:black" data-bind="click:$parent.getAcomodations" data-target="#cityItem">
							<h4 data-bind="text: Name , click:$parent.setMapLocationCity"style="font-size:large"> </h4>
						</td>
					</tr>
				</tbody>
			</table>
			@Html.Partial("CityItem")
		</div>




    

    <div id="acomodations" class="col-md-4" style="display:none">
        <table class="table" style="width:90%">
            <thead>
                <tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff;font-size:x-large ">
                    <th>Properties</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:Acomodations">
                <tr>
                    <td class="col-xs-5" style="background-color:rgba(242, 233, 238, 0.41);color:black" data-bind="click:$parent.getRooms" data-target="#acomodationItem">
                        
  
                        <h4 data-bind="text: Name ,click:$parent.setMapLocationAcomodation" style="font-size:large;margin-right: 5px" > </h4>
                        @*<div data-bind="if: $data.NumberOfStars=1">&#11088;</div>
                        <div data-target="#NumberOfStars" data-bind="if: $NumberOfStars=2">&#11088;&#11088;</div>*@
                        @*<div data-target="#NumberOfStars" data-bind="if:$parent.NumberOfStars=3">&#11088;&#11088;&#11088;</div>*@
                        <div data-target="#NumberOfStars" data-bind="text: NumberOfStars">&#11088;&#11088;&#11088;&#11088;</div>

                        <div data-target="#numberOfStars" data-bind="if:text=3">&#11088;&#11088;&#11088;</div>
                    </td>

                    <td class="col-xs-5">
                        <input type="button" value="Details" class="btn btn-info" data-toggle="modal" data-target="#acomodationItem" data-bind="click:$parent.details" />
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("AcomodationItem")
    </div>

    <div id="rooms" class="col-md-4" style="display:none">
        <table class="table" style="width:90%">
            <thead>
                <tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff ;font-size:x-large">
                    <th>Rooms</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:Rooms">

                <tr>
                    <td class="col-xs-5" style="background-color:rgba(242, 233, 238, 0.41);color:black">
                        <h4 data-bind="text:RoomType" style="font-size:large;margin-right: 5px"></h4>
                    </td>

                    <td class="col-xs-5">

                        <input type="button" value="Details" class="btn btn-info" data-toggle="modal" data-target="#roomItem" data-bind="click:$parent.details" />
                    </td>
                    <td class="col-xs-5">
                        <input type="button" value="Book" class="btn btn-info" data-toggle="modal" data-target="#bookItem" data-bind="click:$parent.details" />
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("RoomItem")
    </div>


    <div id="facilities" class="col-md-4" style="display:none">
        <table class="table" style="width:90%">
            <thead>
                <tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff ;font-size:x-large">
                    <th>Facilities</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:AcomodationFacilities">
                <tr>
                    <td class="col-xs-5" style="background-color:rgba(242, 233, 238, 0.41);color:black">
                        <h4 data-bind="text:FacilityDescription" style="font-size:large;margin-right: 5px"></h4>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="reviews" class="col-md-4" style="display:none">
        <table class="table" style="width:90%">
            <thead>
                <tr style="background-color:rgba(119, 41, 83, 0.74); color:#ffffff ;font-size:x-large">
                    <th>Reviews</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:Reviews">
                <tr>
                    <td class="col-xs-5" style="background-color:rgba(242, 233, 238, 0.41);color:black">
                        <h4 data-bind="text:Description" style="font-size:large;margin-right: 5px"></h4>
                </tr>
            </tbody>
        </table>
    </div>
</div>

	<script>
		function myMap(map) {
			var uluru = { lat: 44.439663, lng: 26.096306 };
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 4,
				center: uluru,
				mapTypeId: 'roadmap'
			});
			document.getElementById("map").style.visibility = "visible";
			var marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
			
		// Create the search box and link it to the UI element.
		var input = document.getElementById('pac-input');
		var searchBox = new google.maps.places.SearchBox(input);
		map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

		// Bias the SearchBox results towards current map's viewport.
		map.addListener('bounds_changed', function() {
			searchBox.setBounds(map.getBounds());
		});

		var markers = [];
		// Listen for the event fired when the user selects a prediction and retrieve
		// more details for that place.
		searchBox.addListener('places_changed', function() {
			var places = searchBox.getPlaces();

			if (places.length == 0) {
				return;
			}

			// Clear out the old markers.
			markers.forEach(function(marker) {
				marker.setMap(null);
			});
			markers = [];

			// For each place, get the icon, name and location.
			var bounds = new google.maps.LatLngBounds();
			places.forEach(function(place) {
				if (!place.geometry) {
					console.log("Returned place contains no geometry");
					return;
				}
				var icon = {
					url: place.icon,
					size: new google.maps.Size(71, 71),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(17, 34),
					scaledSize: new google.maps.Size(25, 25)
				};

				// Create a marker for each place.
				markers.push(new google.maps.Marker({
					map: map,
					icon: icon,
					title: place.name,
					position: place.geometry.location
				}));

				if (place.geometry.viewport) {
					// Only geocodes have viewport.
					bounds.union(place.geometry.viewport);
				} else {
					bounds.extend(place.geometry.location);
				}
			});
			map.fitBounds(bounds);
		});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_U6W6I7vNQ61tTP2Z6QkaoORBTfsY4ZY&libraries=places&callback=myMap"></script>

<script>
    function stars() {
        
    }
</script>


<script type="text/javascript">
    $(function () {
        var vm = new Locations();
        vm.refresh();
        ko.applyBindings(vm, $("#countries").get(0));
        ko.applyBindings(vm, $("#cities").get(0));
        ko.applyBindings(vm, $("#acomodations").get(0));
        ko.applyBindings(vm, $("#rooms").get(0));
        ko.applyBindings(vm, $("#facilities").get(0));
    
    });
</script>

