<div id="roomItem" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Room detalis</h3>
        </div>
        <div class="modal-body">
            <label for="RoomType">Type</label>
            <input id="RoomType" type="text" class="form-control" data-bind="value: RoomType" readonly />

            <img width="275" height="260" align="right" data-bind="attr:{src: RoomPhoto}" />

        
            <label for="Description">Description</label>
            <input id="Description" type="text" class="form-control" data-bind="value: Description" readonly />
        
            <label for="NumberOfAdults">Number of adults</label>
            <input id="NumberOfAdults" type="text" class="form-control" data-bind="value: NumberOfAdults"  readonly/>
            <label for="NumberOfChildren">Number of children</label>
            <input id="NumberOfChildren" type="text" class="form-control" data-bind="value: NumberOfChildren"  readonly/>
       
            <label for="Price">Price/night</label>
            <input id="Price" type="text" class="form-control" data-bind="value: Price"  readonly/>
       
            <label for="NumberOfRoomsAvailable">Number of rooms available</label>
            <input id="NumberOfRoomsAvailable" type="text" class="form-control" data-bind="value: NumberOfRoomsAvailable" readonly />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="bookItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Reservation detalis</h3>
        </div>
        <div class="modal-body">

            <label for="DateOfStart">Date of start</label>
			<br>
		
			<input id="DateOfStart"  type="date" min="@DateTime.Now.Date"  required="required" class="form-control" data-bind="DateOfStart" />
			<br>

            <label for="DateOfEnd">Date of end</label>
			<br />
            <input id="DateOfEnd" type="date" min="@DateTime.Now.AddDays(+1).Date" required class="form-control" data-bind="DateOfEnd" > 
			<br />

            <label for="NrOfPeople">Number of people</label>
            <input id="NrOfPeople" type="text" class="form-control" data-bind="value: NrOfPeople" readonly />

            <label for="TotalPayment">Total payment</label>
            <input id="TotalPayment" type="text" class="form-control" data-bind="TotalPayment" readonly/>
        </div>
        <div class="modal-footer">
            <button id="btnBook" type="button" class="btn btn-default" data-bind="click: function() {bookRoom(); getNrOfRoomsStillAvailable() }" style="display:none">Book room</button>
            <button id="btnGetPrice" type="button" class="btn btn-default" data-bind="TotalPayment,click:getTotalPayment" >Get total price</button>
            <button id="buttonClose" type="button" class="btn btn-default" data-dismiss="modal" onclick="enableControls()">Close</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function enableControls() {
        $("#DateOfStart").attr("readonly", false);
        $("#DateOfEnd").attr("readonly", false);
        $("#btnBook").hide();
        $("#btnGetPrice").show();
    }

</script>