

<div id="roomItem" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title" style="color:black">Room detalis</h3>
        </div>
        <div class="modal-body">
            <label for="RoomType" style="color:black">Type</label>
            <input id="RoomType" type="text" class="form-control" data-bind="value: RoomType" readonly />

            <img width="275" height="260" align="right" data-bind="attr:{src: RoomPhoto}" />

        
            <label for="Description" style="color:black">Description</label>
            <input id="Description" type="text" class="form-control" data-bind="value: Description" readonly />
        
            <label for="NumberOfAdults" style="color:black">Number of adults</label>
            <input id="NumberOfAdults" type="text" class="form-control" data-bind="value: NumberOfAdults"  readonly/>
            <label for="NumberOfChildren" style="color:black">Number of children</label>
            <input id="NumberOfChildren" type="text" class="form-control" data-bind="value: NumberOfChildren"  readonly/>
       
            <label for="Price" style="color:black">Price/night</label>
            <input id="Price" type="text" class="form-control" data-bind="value: Price"  readonly/>
       
            <label for="NumberOfRoomsAvailable" style="color:black">Number of rooms available</label>
            <input id="NumberOfRoomsAvailable" type="text" class="form-control" data-bind="value: NumberOfRoomsAvailable" readonly />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="bookItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title" style="color:black">Reservation detalis</h3>
        </div>
        <div class="modal-body">

            <label for="DateOfStart" style="color:black"  >Date of start</label>
			<br>
		
			<input id="DateOfStart"  type="date"  required="required" class="form-control" data-bind="DateOfStart" />
			<br>

            <label for="DateOfEnd" style="color:black">Date of end</label>
			<br />
            <input id="DateOfEnd" type="date"  required="required" class="form-control" data-bind="DateOfEnd" > 
			<br />

            <label for="NrOfPeople" style="color:black">Number of people</label>
            <input id="NrOfPeople" type="text" class="form-control" data-bind="value: NrOfPeople" readonly />

            <label for="TotalPayment" style="color:black">Total payment</label>
            <input id="TotalPayment" type="text" class="form-control" data-bind="TotalPayment" readonly/>

            <h3 id="succes" style="color:red;visibility:hidden">Your book was succesful !</h3>

        </div>
        <div class="modal-footer">
            <button id="btnBook" type="button" class="btn btn-default" data-bind="click:bookRoom" style="display:none">Book room</button>
            <button id="btnGetPrice" type="button" class="btn btn-default" data-bind="TotalPayment,click:getTotalPayment" >Get total price</button>
            <button id="buttonClose" type="button" class="btn btn-default" data-dismiss="modal" onclick="enableControls()">Close</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    function enableControls() {
        $("#DateOfStart").attr("readonly", false);
        $("#DateOfEnd").attr("readonly", false);
        $("#btnBook").hide();
        $("#btnGetPrice").show();
    }
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; 
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;

    
    document.getElementById('DateOfStart').setAttribute("min", today);
</script>
<script type="text/javascript">
  
    var today = new Date();
    var dd = today.getDate()+1;
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;

    document.getElementById('DateOfEnd').setAttribute("min", today);
</script>