<div id="roomItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Manage Rooms</h4>
        </div>
        <div class="modal-body">
            <label for="Type">Type</label>
            <input id="Type" type="text" class="form-control" data-bind="value: Type" />
        </div>
        <div class="modal-body">
            <label for="Price">Price</label>
            <input id="Price" type="text" class="form-control" data-bind="value: Price" />
        </div>
        <div class="modal-body">
            <label for="NumberOfAdults">Number of adults</label>
            <input id="NumberOfAdults" type="text" class="form-control" data-bind="value: NumberOfAdults" />
        </div>
        <div class="modal-body">
            <label for="NumberOfChildren">Number of children</label>
            <input id="NumberOfChildren" type="text" class="form-control" data-bind="value: NumberOfChildren" />
        </div>
        <div class="modal-body">
            <label for="Description">Description</label>
            <input id="Description" type="text" class="form-control" data-bind="value: Description" />
        </div>
        <div class="modal-body">
            <label for="NumberOfRoomsAvailable">Nr. of rooms available</label>
            <input id="NumberOfRoomsAvailable" type="text" class="form-control" data-bind="value: NumberOfRoomsAvailable" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
