<div id="roomItem" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Room detalis</h4>
        </div>
        <div class="modal-body">
            <label for="RoomType">Type</label>
            <input id="RoomType" type="text" class="form-control" data-bind="value: RoomType" />

            <img width="275" height="260" align="right" data-bind="attr:{src: RoomPhoto}" />

        
            <label for="Description">Description</label>
            <input id="Description" type="text" class="form-control" data-bind="value: Description" />
        
            <label for="NumberOfAdults">Number of adults</label>
            <input id="NumberOfAdults" type="text" class="form-control" data-bind="value: NumberOfAdults" />
            <label for="NumberOfChildren">Number of children</label>
            <input id="NumberOfChildren" type="text" class="form-control" data-bind="value: NumberOfChildren" />
       
            <label for="Price">Price</label>
            <input id="Price" type="text" class="form-control" data-bind="value: Price" />
       
            <label for="NumberOfRoomsAvailable">Nr. of rooms available</label>
            <input id="NumberOfRoomsAvailable" type="text" class="form-control" data-bind="value: NumberOfRoomsAvailable" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="bookItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reservation detalis</h4>
        </div>
        <div class="modal-body">

            <label for="DateOfStart">Date of start</label>
            <input id="datePiker" data-bind="datepicker: myDate, datepickerOptions: { minDate: new Date() }" class="form-control" />

            <label for="DateOfEnd">Date of end</label>
            <input type="datetime-local">

            <label for="NumberOfPeople">Number of people</label>
            <input id="NumberOfPeople" type="text" class="form-control" data-bind="value: NumberOfPeople" />

            <label for="TotalPayment">Total payment</label>
            <input id="TotalPayment" type="text" class="form-control" data-bind="value: TotalPayment" />

          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click:Countries.bookRoom">Book room</button>


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>


</div>