<div id="roomItem" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Room detalis</h3>
        </div>
        <div class="modal-body">
            <label for="RoomType">Type</label>
            <input id="RoomType" type="text" class="form-control" data-bind="value: RoomType" />

            <img width="275" height="260" align="right" data-bind="attr:{src: RoomPhoto}" />

        
            <label for="Description">Description</label>
            <input id="Description" type="text" class="form-control" data-bind="value: Description" />
        
            <label for="NumberOfAdults">Number of adults</label>
            <input id="NumberOfAdults" type="text" class="form-control" data-bind="value: NumberOfAdults" />
            <label for="NumberOfChildren">Number of children</label>
            <input id="NumberOfChildren" type="text" class="form-control" data-bind="value: NumberOfChildren" />
       
            <label for="Price">Price</label>
            <input id="Price" type="text" class="form-control" data-bind="value: Price" />
       
            <label for="NumberOfRoomsAvailable">Number of rooms available</label>
            <input id="NumberOfRoomsAvailable" type="text" class="form-control" data-bind="value: NumberOfRoomsAvailable" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="bookItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Reservation detalis</h3>
        </div>
        <div class="modal-body">

            <label for="DateOfStart">Date of start</label>
			<br>
		
			<input id="DateOfStart"  type="date" min="@DateTime.Now.Date"  required class="form-control" data-bind="value:DateOfStart" >
			<br>

            <label for="DateOfEnd">Date of end</label>
			<br />
            <input id="DateOfEnd" type="date" min="@DateTime.Now.AddDays(+1).Date" required class="form-control" data-bind="value:DateOfEnd"  > 
			<br />

            <label for="NrOfPeople">Number of people</label>
            <input id="NrOfPeople" type="text" class="form-control" data-bind="value: NrOfPeople" />

            <label for="TotalPrice">Total payment</label>
            <input id="TotalPrice" type="text" class="form-control" data-bind="click:Locations.getTotalPayment"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click:Locations.bookRoom">Book room</button>


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>


</div>